<% images.each do |image| %>
<div class="column">
	<%= check_box_tag "images[]", image.id, false, id: "image_#{image.id}", class: "chk_images" if from == "my_pages" %>
	<img src="<%= url_for(image.source) %>" alt="" style="width:100%">
	<br />
	<div style="display: inline;">
		<% if from == "my_pages" %>
			<%= link_to "Delete", image_path(image), method: :delete, style: "display: inline-block; text-align: right;", data: {confirm: "Are you sure you want to delete this image?"} %>
			<%= link_to "#{image.is_public? ? 'Make Private' : 'Make Public' }", change_permission_path(image.id) %>
		<% end %>
	</div>
</div>
<% end %>